<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container" >
       
        <div role="navigation" class="navbar navbar-dark bg-dark">
                <h2 class="navbar-brand mb-0 h1">Apartment Buyers</h2>
                <div class="nav-link">
                    <a href="/offerpage">Offerpage |</a>
                    <a href="/logout" >Logout |</a>
                    <a href="/faq" >FAQ |</a>
                    <a href="/about" >About </a>
     </div>
        </div>
        <div class="about">
            <p>Mac REI Properties is a property investment company that values professionalism, integrity, and respect. We
                seek to ensure every transaction we complete is straight forward and timely, building our customers’ trust and
                confidence in our services.</p>
                <h4>
                Here’s How we can Help you:
                </h4>
                <p>#1) Hassle FREE Sale</p>
                <p>#2) NO Broker Commissions.</p>
                <p>#3) NO Termite Tenting</p>
                <p>#4) NO Open Houses to deal with</p>
                <p>#5) You will not be bothered by Real Estate Agents</p>
                <p>#6) You do NOT need to make any Repairs</p>
                <p>#7) NO Loan Contingency</p>
                <p>#8) No Appraisal Contingency</p>
                <p>#9) NO relocation of tenant</p>
                <p>#10) We Oversee the Escrow Process & Take Care of All Paperwork.</p>
                <p>*We are open to owner financing, should you want to limit tax implications of a sale.</p>
        

        </div> 
        <div class="blockquote-footer">
            &copy; All rights reserved
        </div>      

    </div>
    
</body>
</html>