<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Document</title>
    <style>
        #map {
          width: 100%;
          height: 400px;
          background-color: grey;
        }
    </style>
</head>
<body>
        <div class="container" >
            <div role="navigation" class="navbar navbar-dark bg-dark">
                    <h2 class="navbar-text">Apartment Buyers</h2>
                  <div class="nav-link">
                    <a href="/offerpage">Offerpage |</a>
                    <a href="/logout" >Logout |</a>
                    <a href="/faq" >FAQ |</a>
                    <a href="/about" >About </a>
                  </div>
            </div>

            
       
        <div class="offer">
            <h3>Hello, {{session.first_name}}! Your offers are below:</h3>

           
            <table class="table table-striped table-dark">
                
                <thead>
                  <!-- <tr>
                    <th scope="col">Address: </th>
                    <th scope="col">Offer Price: </th>
                  </tr>
                </thead> -->

                <tbody>
                  <tr>
                    <td>Property Address: </td>
                    <td>{{ this_property.address }}, {{this_property.city}} </td>
                  </tr>
                  <tr>
                    <td>Units: </td>
                    <td>{{this_property.units }} </td>
                  </tr>
                  <tr>
                    <td>Income: </td>
                    <td>${{this_property.income }} </td>
                  </tr>
                  <tr>
                    <td>Expenses: </td>
                    <td>${{ this_property.expenses }} </td>
                  </tr>
                  <tr>
                    <td>Offer price: </td>
                    <td>${{ this_property.offer }} </td>
                  </tr>
                </tbody>
            
              </table>        
        </div>
        <div class="comment" style = 'overflow: scroll;'>
          <h3>Start a dialog about your property below:</h3>

            <div class="comments">
           <!-- check for owner Id and admin id --> 

           <!-- {% if comments.owner_id == this_property.owner_id  %} -->
           <!-- {% endif %} -->
            
                {% for comment in comments %}

                <p>{{comment.owner_comments.first_name}},  {{comment.comments}}</p>
              
                {% endfor %}     

            </div>
            <form action="/commentadd/{{this_property.id}}" method="POST">
              <input type="textbox" cols='50' rows = '5' name='owner_comment' placeholder="Contact us">
              <button type="submit">Post!</button>
          </form>
        </div>
       
        <div class="google_maps">
          <iframe width="800" height="300"
          src="https://www.google.com/maps/embed/v1/search?q={{this_property.address}}+ +{{ this_property.city }}+ +{{ this_property.zip_code }},+USA&key={{'AIzaSyCflXWHpLx4rriSS-1KmHgabloxJYHRPqg'}}" allowfullscreen></iframe>
        </div>     

    </div>
</body>
</html>