<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container" >
        <div role="navigation" class="navbar navbar-light bg-light">
                <h2 class="navbar-brand mb-0 h1">Apartment</h2>
                <a href="/logout">logout |</a>
                <a href="/faq">FAQ |</a>
                <a href="/about">About |</a>
        </div>
</body>
</html>